* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 24px;
}

html, body {
    height: 100%;
}

body {
    background-color: #ebdbb2;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #ebdbb2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.3em 0; 
}

nav {
    display: flex;
    gap: 10px;
}

body > div {
    background-color: #f9f5d7;
    border: 3px solid #282828;
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 auto;
}

body > div > div {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0 0 0;
    margin-bottom: 0em;
}

body > div p {
    text-align: center;
    padding-bottom: 0.5em;
}

body > div > div > h1 {
    font-size: 32px;   
}

body > div > div > h2 {
    padding: 0.5em;   
}

.welcome-text {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

.description {
    padding-top: 1em;
}

img {
    display: block;
    margin: 0 auto 2em auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border: 3px solid #282828;
}

.footer {
    background-color: #282828;
    color: #f9f5d7;
    text-align: center;
    padding: 1.5em;
    position: relative;
    width: 100%;
    bottom: 0px;
}

.credit {
    color: inherit;
    text-decoration: none;
}